# This file is only used for local setup. For deployment there is other env and it is there in the infra repo where we pass the env variables in runtime.

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SPRING_DATA_MONGODB_URI=
REDIRECT_URL=
MONGO_URI=

CONTENT_MODERATION_WEBHOOK_URL=
CONTENT_MODERATION_SAFE_THRESHOLD=
CONTENT_MODERATION_CONNECT_TIMEOUT_MS=
CONTENT_MODERATION_READ_TIMEOUT_MS=
CONTENT_MODERATION_INSECURE_SSL=

APP_CORS_URL=
APP_BACKEND_URL=
APP_FRONTEND_OAUTH_CALLBACK_URL=
APP_FRONTEND_ADMIN_APPROVAL_RESULT_URL=
APP_FRONTEND_OAUTH_ADMIN_CALLBACK_URL=

APP_COOKIE_DOMAIN=

# Spring Mail
ADMIN_APPROVAL_INTERNAL_EMAIL=
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=
spring.mail.properties.mail.smtp.auth=
spring.mail.properties.mail.smtp.starttls.enable=

# CONTENT_MODERATION_INSECURE_SSL=


KAFKA_BOOTSTRAP_SERVERS=

# minio
MINIO_ENDPOINT=
MINIO_BUCKET=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
